<div class="page-header">
<h1><%= @article.title %></h1>
</div>
<p><%= @article.body %></p>

<%= link_to "Delete", article_path(@article),method: :delete,data: {confirm: "Really delete the article?"}, class: "btn  btn-sm btn-danger" %>

<%= link_to "Edit", edit_article_path(@article), class: "btn btn-sm btn-default" %>

<%= link_to "<< Back to Articles List", articles_path, class: "btn  btn-sm btn-primary" %>
